.control-button {
  background-color: dodgerblue;
  font-size: 20px;
  padding: 15px 30px 15px;
  border: 0;
  border-radius: 5px;
  color: white;
}

.button-container {
  padding-top: 100px;
}

.background-image {
  background-image: url('../public/bathtub.png');
  height: 500px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
}
.water-container {
  flex-direction: column;
  width: 390px;
}

.water-div {
  height: 20px;
  background-color: dodgerblue;
  margin-left: 10px;
  opacity: 1;
}

.message {
  color: red;
  font-weight: 700;
}

.spacing-div {
  height: 320px;
}
